<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net45" />
  <package id="AutoFixture.AutoNSubstitute" version="3.50.2" targetFramework="net45" />
  <package id="AutoFixture.NUnit2" version="3.50.2" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="EasyNetQ" version="0.50.7.399" targetFramework="net45" />
  <package id="EasyNetQ.Management.Client" version="0.47.12.38" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net45" />
  <package id="NLog" version="4.3.6" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.4" targetFramework="net45" />
  <package id="Selkie.EasyNetQ" version="0.7.15" targetFramework="net45" />
  <package id="Selkie.Windsor" version="0.7.41" targetFramework="net45" />
</packages>