<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AutoFixture" version="3.46.0" targetFramework="net45" />
  <package id="AutoFixture.AutoNSubstitute" version="3.46.0" targetFramework="net45" />
  <package id="AutoFixture.NUnit3" version="3.46.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="Selkie.Windsor" version="0.6.257.0" targetFramework="net45" />
</packages>