<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="NLog" version="4.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Selkie.Windsor" version="0.6.248.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecRun.Runner" version="1.2.0" />
</packages>